/*
		 Chris Coyier
		 http://css-tricks.com
*/

*					{ margin: 0; padding: 0; }
body				{ font-size: 62.5%; font-family: Verdana, serif; }

.clear				{ clear: both; }

h1 					{ font-size: 3.0em; text-align: center; padding: 10px 0; }
	h1 a			{ text-decoration: none; color: #212575; }
h2 					{ font-size: 2.4em; font-weight: normal; }
	h2 a			{ text-decoration: none; color: #212575; }
h3					{ font-size: 1.8em; margin-bottom: 8px; }
p					{ margin-bottom: 15px; font-size: 1.4em; }
img					{ border: none; vertical-align: middle; }
ul					{ list-style: disc inside; margin-left: 10px; margin-bottom: 15px; }
ul li				{ font-size: 1.4em; }

div#page-wrap		{ width: 310px; padding: 0 5px; margin: 0px auto; }

#slider 			{ width: 320px; overflow: hidden; position: relative; }
#mask				{ width: 1280px; position: relative; left: 0px;}
#mainMenu			{ width: 320px; float: left; }
.article-text		{ width: 320px; float: left; overflow: hidden; }

.headline           { background: url(images/headline-bg.png) top center no-repeat;
					  padding: 3px 68px 0 13px; min-height: 60px;}
					  
pre					{ width: 1500px; overflow: auto; font-size: 1.5em; }